{% extends 'layout.html' %}
{% block title %}TSAP{% endblock %}
{% block content %}

<h5>программа аналитики успешности торговли</h5></p>
<b>как это работает?</b></p>
   1) с сайта биржи EXMO.me вы скачиваете свою историю торгов.</br>
   (файл формата .csv) </br>
   2) загружаете этот файл на сайт</br></br>
   <a href="/csv/file/uploads/page">загрузите .csv файл с историей вашей торговли</a></br>
   3) получаете отчёт по вашей истории</br></br>
   4) при необходимости сохраняете отчёт себе на диск</br>
    

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
</div>
{% endblock %}
