{% extends 'layout.html' %}
{% block title %}TSAP{% endblock %}
{% block content %}

<h5>программа аналитики успешности торговли</h5></p>
<b>как это работает?</b></p>
   1) с сайта биржи EXMO.me вы скачиваете свою историю торгов.</br>
   (файл формата .csv) </br>
   2) загружаете этот файл сюда на сайт</br></br>
   <a href="/csv/file/uploads/page">загрузите .csv файл с историей вашей торговли</a></br>
   3) вам будет выведена информация об успешности ваших торговых операций</br></br>
   4) на основании этой информации может быть сформирован подробный отчёт о вашей торговле </br>

{% endblock %}
