{% extends 'layout.html' %}
{% block title %}Site-Name!{% endblock %}
{% block content %}
<h4>Parser Page!</h4>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div style="color: red;">{{message}}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div>
    {% if stat %}
    <ul>
        <li><a href="/drop/{{drop_name}}">Удалить таблицу и файл?</a></li>
    </ul>
    <h5>Статистика торговых операций на бирже:</h5>
    <p>
        1) общее колличество сделок <u><b>{{ stat['total'] }}</b></u> исполненых ордеров.
        из них: BUY <u><b>{{ stat['total_buy'] }}</b></u>, SELL <u><b>{{ stat['total_sell'] }}</b></u>.
    <br>
        2) колличество торговых пар в которых велись торги <u><b>{{ stat['total_pair'] }}</b></u> торговых пар.
    <br>
        3) топ 5 торговых пар где было совершено больше всего сделок
        {% if top_pairs %}
            <ol>
                {% for info in top_pairs %}
                    <li>{{ info['current_pair'] }}: <b>{{ info['total'] }}</b></li>
                {% endfor %}
            </ol>
        {% endif %}
    </p>

    {% endif %}
</div>
{% endblock %}